<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    {include file="public/header"}
</head>
<body>
{include file="public/navList"}
<!-- banner部分 -->
{include file="public/banner"}
<div class="main-service main-product ">
    <div class="layui-container" >

        <a href="{:citrixGetAdv(2518,2)}" >
        <div class="layui-col-sm6 layui-col-md4">
                <img src="{:citrixGetAdv(2518,1)}" width="100%" height="186px">
        </div>
        </a>

        <a href="{:citrixGetAdv(2519,2)}" >
        <div class="layui-col-sm6 layui-col-md4" >
                <img src="{:citrixGetAdv(2519,1)}" width="100%" height="186px">
        </div>
        </a>

        <a href="{:citrixGetAdv(2520,2)}" >

        <div class="layui-col-sm6 layui-col-md4">
                <img src="{:citrixGetAdv(2520,1)}" width="100%" height="186px">
        </div>
        </a>
    </div>
    <div class="citrixClear"></div>
</div>
<!-- 竞争优势 -->
<div class="main-service main-product ">
    <div class="layui-container">
        <!--<p class="title citrixParam3">贴心服务<span>&emsp;竞争优势&emsp;</span>质量保障</p>-->
        <div class="layui-row layui-col-space25">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="content">
                    <div>
                        <img src="{:citrixGetUrl(getCitrixDb('single_page','id',12,'img'))}">
                    </div>
                    <div>
                        <p class="label">{:getCitrixDb("single_page","id",12,"title")}</p>
                        <p>{:getCitrixDb("single_page","id",12,"content")}</p>
                    </div>
                    <!--<a href="{:url('index/index/pageInfo',['id'=>12])}">立即查看 ></a>-->
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div>
                        <img src="{:citrixGetUrl(getCitrixDb('single_page','id',13,'img'))}">
                    </div>
                    <div>
                        <p class="label">{:getCitrixDb("single_page","id",13,"title")}</p>
                        <p>{:getCitrixDb("single_page","id",13,"content")}</p>
                    </div>
                    <!--<a href="{:url('index/index/pageInfo',['id'=>13])}">立即查看 ></a>-->
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                   <div>
                        <img src="{:citrixGetUrl(getCitrixDb('single_page','id',14,'img'))}">
                    </div>
                    <div>
                        <p class="label">{:getCitrixDb("single_page","id",14,"title")}</p>
                        <p>{:getCitrixDb("single_page","id",14,"content")}</p>
                    </div>
                    <!--<a href="{:url('index/index/pageInfo',['id'=>14])}">立即查看 ></a>-->
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div>
                        <img src="{:citrixGetUrl(getCitrixDb('single_page','id',15,'img'))}">
                    </div>
                    <div>
                        <p class="label">{:getCitrixDb("single_page","id",15,"title")}</p>
                        <p>{:getCitrixDb("single_page","id",15,"content")}</p>
                    </div>
                    <!--<a href="{:url('index/index/pageInfo',['id'=>15])}">立即查看 ></a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 客户案例 -->
<div class="main-service citrixDoorVessel">
    <div class="layui-container">
        <div class="layui-col-xs12 citrixParam5">
            <span class="citrixDoorTitle">
                &emsp;客户案例
            </span>
            <span class="layui-breadcrumb citrixDoor" lay-separator="|">
                {volist name="$dataCasesList.cateList" id="vo" key="k1"}
                {if condition="$k1 eq 1"}
                <a href="{:url('index/index/casesList',['id'=>$vo.id])}">&emsp;{$vo.name}</a>
                {else}
                <a href="{:url('index/index/casesList',['id'=>$vo.id])}">{$vo.name}</a>
                {/if}
                {/volist}
            </span>
            <a href="{:url('index/index/casesList')}" class="citrixDoorMore">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i> More&emsp;
            </a>
        </div>
        <div class="layui-row layui-col-space25">
            {volist name="$dataCasesList.list" id="vo"}
            <div class="layui-col-sm6 layui-col-md3" onmousemove="citrixMouseoverCase(this)" onmouseout="citrixMouseoutCase(this)">
                <div class="citrixCell">
                    <img src="{$vo.img|citrixGetUrl}">
                </div>
                <div class="citrixCellImg citrixCellNone">
                    <a href="{:url('index/index/Info',['id'=>$vo.id])}">
                        <dl class="citrixCellQrCode">
                            <dt>扫码下方二维码体验案例</dt>
                            <dd><a href="{:url('index/index/Info',['id'=>$vo.id])}" style="color: red">点击查看图文详情介绍</a></dd>
                        </dl>
                        <img src="{$vo.code_img|citrixGetUrl}">
                    </a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
<!-- 资讯动态 -->
<div class="main-case citrixParam4">
    <div class="layui-container">
        <div class="layui-col-xs12 citrixParam5">
            <span class="citrixDoorTitle">
                &emsp;资讯动态
            </span>
            <a href="{:url('index/index/newsList')}" class="citrixDoorMore">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i> More&emsp;
            </a>
        </div>
        <div class="layui-row">
            <div class="layui-inline layui-col-sm6 layui-col-md4 citrixNewsVessel ">
                <div class="layui-inline case-img">
                    <img src="{:citrixGetAdv(2524,1)}">
                    <div class="citrixNewsBox">
                        <h6 class="citrixNewsBoxTitle">{$dataNewsList.0.name}</h6>
                        <p class="citrixNewsBoxDesc">{$dataNewsList.0.description}</p>
                    </div>
                </div>
                <div class="layui-col-md12">
                    {volist name="$dataNewsList.0.list" id="vo"}
                    <div class="layui-card">
                        <dl class="layui-card-header citrixNewsItem">
                            <dt>{$vo.create_time|date="m-d",###}</dt>
                            <dd><a href="{:url('index/index/Info',['id'=>$vo.id])}">{$vo.title}</a></dd>
                        </dl>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="layui-inline layui-col-sm6 layui-col-md4 citrixNewsVessel  even center">
                <div class="layui-inline case-img">
                    <img src="{:citrixGetAdv(2525,1)}">
                    <div class="citrixNewsBox">
                        <h6 class="citrixNewsBoxTitle">{$dataNewsList.1.name}</h6>
                        <p class="citrixNewsBoxDesc">{$dataNewsList.1.description}</p>
                    </div>
                </div>
                <div class="layui-col-md12">
                    {volist name="$dataNewsList.1.list" id="vo"}
                    <div class="layui-card">
                        <dl class="layui-card-header citrixNewsItem">
                            <dt>{$vo.create_time|date="m-d",###}</dt>
                            <dd><a href="{:url('index/index/Info',['id'=>$vo.id])}">{$vo.title}</a></dd>
                        </dl>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="layui-inline layui-col-sm6 layui-col-md4 citrixNewsVessel ">
                <div class="layui-inline case-img">
                    <img src="{:citrixGetAdv(2526,1)}">
                    <div class="citrixNewsBox">
                        <h6 class="citrixNewsBoxTitle">{$dataNewsList.2.name}</h6>
                        <p class="citrixNewsBoxDesc">{$dataNewsList.2.description}</p>
                    </div>
                </div>
                <div class="layui-col-md12">
                    {volist name="$dataNewsList.2.list" id="vo"}
                    <div class="layui-card">
                        <dl class="layui-card-header citrixNewsItem">
                            <dt>{$vo.create_time|date="m-d",###}</dt>
                            <dd><a href="{:url('index/index/Info',['id'=>$vo.id])}">{$vo.title}</a></dd>
                        </dl>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 项目定制 -->
<div class="main-service citrixAnimatedVessel">
    <div class="layui-container citrixAnimatedHeading">
        <div class="layui-col-xs12 ">
            <h2 class="citrixAnimated">项目定制</h2>
            <p class="citrixAnimatedImgs"></p>
            <span>坚持实施"一份需求、十份计划、百种方法"的针对性定制模式</span>
        </div>
    </div>
</div>
<!-- 表单提交 -->
<div class="main-service citrixCompanyInfo">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-inline layui-col-sm6" style="margin-bottom: 10px;" >
                <h1 class="citrixCompanyInfoH2">{:getCitrixDb("single_page","id",11,"title")}</h1>
                <span class="citrixCompanyInfoSpan">{:getCitrixDb("single_page","id",11,"tag")}</span>
                <p class="citrixCompanyInfoP" style="    padding: 5px;">{:getCitrixDb("single_page","id",11,"content")}</p>
            </div>
            <div class="layui-inline layui-col-sm6" style="margin-bottom: 10px;">
                <form class="layui-form layui-form-pane" id="form_array">
                <div class="layui-form-item">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" autocomplete="off" placeholder="请输入昵称" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" autocomplete="off" placeholder="请输入联系方式（86+）" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="请输入验证码" autocomplete="off" id="code" name="verifyCode" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="margin:0px;padding: 0px!important;;"><img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}?seed='+Math.random()" width="116" height="36" id="captcha" /></div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">需求描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入需求描述" class="layui-textarea" name="message" value="" lay-verify="required"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="form_submit">提交</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- footer部分 -->
{include file="public/footer"}