<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    {include file="public/header"}
</head>
<body>
{include file="public/navList"}
<!-- banner部分 -->
<div class="banner news">
    <div class="title">
        <p>{$pageInfo.title}</p>
        <p class="en">{$pageInfo.tag}</p>
    </div>
</div>
<!-- main部分 -->
<div class="main-about">
    <div class="layui-container">
      <div class="layui-row">
          {$pageInfo.content|htmlspecialchars_decode}
        </div>
    </div> 
</div>
<!-- footer部分 -->
{include file="public/footer"}