	
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>{$webConfig.seo.title.value}</title>
	<meta name="keywords" content="{$webConfig.seo.keywords.value}" />
	<meta name="description" content="{$webConfig.seo.description.value}" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="__LAY__/css/layui.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/tpCitrix.css">
    <link rel="stylesheet" href="__FONT__/css/font-awesome.min.css" media="all"/>